{############# COMMON VARIABLES # STARTS ################}
{%- set parent_list = data['root']['children'][0]['children']%}

{############### COMMON VARIABLES # ENDS ####################}

{############# COMMON MACROS #STARTS ################}
{%- macro get_full_parent_name(ele, sep, cap='False') %}
{%- set result_list = [] %}
{%- if ele['path'] is defined %}
{%- for item in ele['path'].split("/")%}
{%- if cap == 'True'%}
{{- result_list.append(item|capitalize|replace("-", "_")|replace(".", "_")|replace(".", "_")) or ""}}
{%- else %}
{{- result_list.append(item|replace("-", "_")|replace(".", "_")) or ""}}
{%- endif %}
{%- endfor %}
{%- endif %}
{{-result_list|join(sep)-}}
{%- endmacro %}

{%- macro get_parent_list_with_iterator(ele) -%}
{%- set result_list = [] %}
{%- set temp_list = []%}
{%- if ele['path'] is defined %}
{%- for item in ele['path'].split("/")%}
{{- temp_list.append(item|replace("-", "_")|replace(".", "_")) or ""}}
{%- set cap_item = item|capitalize|replace("-", "_")|replace(".", "_") %}
{{- result_list.append(cap_item+"[i_"+temp_list|join("_")+"]") or ""}}
{%- endfor %}
{%- endif %}
{{-result_list|join(".")-}}
{%- endmacro -%}

{%- macro slice_string_macro(ele) -%}
		{{ele.name|capitalize|replace("-", "_")|replace(".", "_")}}         []*string  `xml:"{{ele.name|replace("_","-")}},omitempty"`
{%- endmacro -%}

{%- macro string_macro(ele) -%}
		{{ele.name|capitalize|replace("-", "_")|replace(".", "_")}}         *string  `xml:"{{ele.name|replace("_","-")}},omitempty"`
{%- endmacro -%}

{%- macro bool_macro(ele) -%}
		{{ele.name|capitalize|replace("-", "_")|replace(".", "_")}}         *bool  `xml:"{{ele.name|replace("_","-")}},omitempty"`
{%- endmacro -%}

{%- macro int32_macro(ele) -%}
		{{ele.name|capitalize}}         *int32  `xml:"{{ele.name|replace("_","-")}},omitempty"`
{%- endmacro -%}

{%- macro list_macro(ele) -%}
		{%- if ele['path'] is defined %}
		{%- set parent_name = ele['path'].split("/")[-1] -%}
		{{ele.name|capitalize|replace("-", "_")|replace(".", "_")}} []xml_{{get_full_parent_name(ele, "_", 'True')}}_{{ele.name|capitalize|replace("-", "_")|replace(".", "_")}} `xml:"{{ele.name}},omitempty"`	
		{%- endif %}
{%- endmacro -%}

{############### XML2Ansible Macros  ####################}
{%- macro path2variable(path) -%}
{{- path|replace("-","_")|replace("/",".") -}} 
{% endmacro %}

{#####}
{%- macro printleaf(path,name,level,indexvar)%}
{% if indexvar %}
{% set var1 = indexvar %}
{% else %}
{% set var1= path2variable(path) %}
{% endif %}
{{'\n'+' '*4*level}}{{'{%'}} if {{var1+'.'+name }} {{'%}'}}
{{'\n'+' '*4*level}}<{{name}}> 
{{' '*4*(level+1)}}{{ var1+'.'+name }}
{{' '*4*level}}</{{name}}>
{{'\n'+' '*4*level}}{{'{%'}} endif {{'%}'}}
{% endmacro %}

{#####}
{%- macro expand_xml_recursive(ele,level,indexvar) -%}
    {% if ele.type == 'leaf' %}
	  {{- printleaf(ele.path,ele.name,level,indexvar) }}
	{%else%}
{{'\n'+' '*4*level}}<{{ele.name}}>
        {%- if ele.type == 'list' %}
		{% if indexvar %}
			{% set pathvar=indexvar %}
 		{% else %}
			{% set pathvar=path2variable(ele.path) %}
		{% endif %}	      
{{'\n'+' '*4*level}}{{'{%'}} for i_{{level}} in {{pathvar+"."+ele.name}} {{'%}'}}
		{% set indexvar = 'i_{0:d}'.format(level) %}    
		{%- endif %} 
    	{% if indexvar and ele.type == 'container' %}
			{% set old_indexvar = indexvar %}
			{% set indexvar = indexvar + '.' + ele.name %}
        {% endif %}
    	{%- for child in ele['children'] %}
            {{- expand_xml_recursive(child,level+1,indexvar) -}}
	    {%- endfor %}
		{% set indexvar=old_indexvar %}
		{%- if ele.type == 'list' %}
{{' '*4*level}}{{'{%-'}} endfor {{'%}'}}
		{%- endif %}
{{' '*4*level}}</{{ele.name}}>
    {%endif%}
{%- endmacro -%}

{################ COMMON MACROS #ENDS ################}


// Junos XML Hierarchy

<configuration>
  <groups>
    {%- for parent in parent_list %}
		{{parent.name|capitalize|replace("-", "_")|replace(".", "_")}} []xml_{{parent.name|capitalize|replace("-", "_")|replace(".", "_")}} `xml:"{{parent.name}},omitempty"`
	{%- endfor %}
  </groups>   
</configuration>  

START_OF_J2_CONFIG
<configuration>

{%- for parent in parent_list %}
  {{ expand_xml_recursive(parent,1,None) }}
{% endfor %}


</configuration>
END_OF_J2_CONFIG
{################ STRUCT FROM XML # ENDS #############}