cmd/processProviders/processProviders
cmd/processYang/processYang
terraform_providers/terraform-provider-junos-device
venv/
terraform_providers/dist/
xpath_inputs.xml
yang/
yang_files/
config.toml
TFtemplates/

terraform_providers/config.go
terraform_providers/go.mod
terraform_providers/go.sum
terraform_providers/provider.go
terraform_providers/resource_*.go
terraform_providers/terraform-provider-*
