/venv/
/config.toml
/Samples/
/dev_files/
/testbed/
/testing_folder/
/yang/
/.idea/
/build/
/junosterraform.egg-info/
/testbed/
__pycache__/
/dist/
/terraform-provider-junos-vqfx-evpn-vxlan/
/.venv/
.DS_Store
/examples/providers/terraform-provider-junos-*/
/examples/terraform_files/terraform.tfstate
/examples/terraform_files/terraform.tfvars
/examples/terraform_files/variables.tf
