#jinja2: trim_blocks: False, lstrip_blocks: False
<configuration>
    <groups>
        <name> JTAF_ANSIBLE </name>
    <chassis>
        {%- if chassis.aggregated_devices is defined %}
        <aggregated-devices>
            {%- if chassis.aggregated_devices.ethernet is defined %}
            <ethernet>
                {%- if chassis.aggregated_devices.ethernet.device_count is defined %}
                {%- if chassis.aggregated_devices.ethernet.device_count is boolean %}
                <device-count/>
                       {%- else %}
                <device-count>{{chassis.aggregated_devices.ethernet.device_count}}</device-count>
                {%- endif %}
                {%- endif %}
            </ethernet>
            {%- endif %}
        </aggregated-devices>
        {%- endif %}
    </chassis>
    <forwarding-options>
        {%- if forwarding_options.storm_control_profiles is defined %}
        {%- for i_2 in forwarding_options.get("storm_control_profiles") %}
        {%- if forwarding_options.storm_control_profiles is defined %}
        <storm-control-profiles>
            {%- if i_2.name is defined %}
            {%- if i_2.name is boolean %}
            <name/>
                   {%- else %}
            <name>{{i_2.name}}</name>
            {%- endif %}
            {%- endif %}
            {%- if i_2.all is defined %}
            <all>
            </all>
            {%- endif %}
        </storm-control-profiles>        {%- endif %}
        {%- endfor %}
        {%- endif %}
    </forwarding-options>
    <interfaces>
        {%- if interfaces.interface is defined %}
        {%- for i_2 in interfaces.get("interface") %}
        {%- if interfaces.interface is defined %}
        <interface>
            {%- if i_2.name is defined %}
            {%- if i_2.name is boolean %}
            <name/>
                   {%- else %}
            <name>{{i_2.name}}</name>
            {%- endif %}
            {%- endif %}
            {%- if i_2.description is defined %}
            {%- if i_2.description is boolean %}
            <description/>
                   {%- else %}
            <description>{{i_2.description}}</description>
            {%- endif %}
            {%- endif %}
            {%- if i_2.vlan_tagging is defined %}
            {%- if i_2.vlan_tagging is boolean %}
            <vlan-tagging/>
                   {%- else %}
            <vlan-tagging>{{i_2.vlan_tagging}}</vlan-tagging>
            {%- endif %}
            {%- endif %}
            {%- if i_2.esi is defined %}
            <esi>
                {%- if i_2.esi.identifier is defined %}
                {%- if i_2.esi.identifier is boolean %}
                <identifier/>
                       {%- else %}
                <identifier>{{i_2.esi.identifier}}</identifier>
                {%- endif %}
                {%- endif %}
                {%- if i_2.esi.all_active is defined %}
                {%- if i_2.esi.all_active is boolean %}
                <all-active/>
                       {%- else %}
                <all-active>{{i_2.esi.all_active}}</all-active>
                {%- endif %}
                {%- endif %}
            </esi>
            {%- endif %}
            {%- if i_2.ether_options is defined %}
            <ether-options>
                {%- if i_2.ether_options.ieee_802_3ad is defined %}
                <ieee-802.3ad>
                    {%- if i_2.ether_options.ieee_802_3ad.bundle is defined %}
                    {%- if i_2.ether_options.ieee_802_3ad.bundle is boolean %}
                    <bundle/>
                           {%- else %}
                    <bundle>{{i_2.ether_options.ieee_802_3ad.bundle}}</bundle>
                    {%- endif %}
                    {%- endif %}
                </ieee-802.3ad>
                {%- endif %}
            </ether-options>
            {%- endif %}
            {%- if i_2.aggregated_ether_options is defined %}
            <aggregated-ether-options>
                {%- if i_2.aggregated_ether_options.lacp is defined %}
                <lacp>
                    {%- if i_2.aggregated_ether_options.lacp.active is defined %}
                    {%- if i_2.aggregated_ether_options.lacp.active is boolean %}
                    <active/>
                           {%- else %}
                    <active>{{i_2.aggregated_ether_options.lacp.active}}</active>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_2.aggregated_ether_options.lacp.periodic is defined %}
                    {%- if i_2.aggregated_ether_options.lacp.periodic is boolean %}
                    <periodic/>
                           {%- else %}
                    <periodic>{{i_2.aggregated_ether_options.lacp.periodic}}</periodic>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_2.aggregated_ether_options.lacp.system_id is defined %}
                    {%- if i_2.aggregated_ether_options.lacp.system_id is boolean %}
                    <system-id/>
                           {%- else %}
                    <system-id>{{i_2.aggregated_ether_options.lacp.system_id}}</system-id>
                    {%- endif %}
                    {%- endif %}
                </lacp>
                {%- endif %}
            </aggregated-ether-options>
            {%- endif %}
            {%- if i_2.unit is defined %}
            {%- for i_3 in i_2.get("unit") %}
            {%- if i_2.unit is defined %}
            <unit>
                {%- if i_3.name is defined %}
                {%- if i_3.name is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
                {%- if i_3.description is defined %}
                {%- if i_3.description is boolean %}
                <description/>
                       {%- else %}
                <description>{{i_3.description}}</description>
                {%- endif %}
                {%- endif %}
                {%- if i_3.vlan_id is defined %}
                {%- if i_3.vlan_id is boolean %}
                <vlan-id/>
                       {%- else %}
                <vlan-id>{{i_3.vlan_id}}</vlan-id>
                {%- endif %}
                {%- endif %}
                {%- if i_3.family is defined %}
                <family>
                    {%- if i_3.family.inet is defined %}
                    <inet>
                        {%- if i_3.family.inet.address is defined %}
                        {%- for i_6 in i_3.family.inet.get("address") %}
                        {%- if i_3.family.inet.address is defined %}
                        <address>
                            {%- if i_6.name is defined %}
                            {%- if i_6.name is boolean %}
                            <name/>
                                   {%- else %}
                            <name>{{i_6.name}}</name>
                            {%- endif %}
                            {%- endif %}
                        </address>                        {%- endif %}
                        {%- endfor %}
                        {%- endif %}
                    </inet>
                    {%- endif %}
                    {%- if i_3.family.ethernet_switching is defined %}
                    <ethernet-switching>
                        {%- if i_3.family.ethernet_switching.vlan is defined %}
                        <vlan>
                            {%- if i_3.family.ethernet_switching.vlan.members is defined %}
                            {%- if i_3.family.ethernet_switching.vlan.members is boolean %}
                            <members/>
                            {%- else %}
                            <members>{{i_3.family.ethernet_switching.vlan.members}}</members>
                            {%- endif %}
                            {%- endif %}
                        </vlan>
                        {%- endif %}
                    </ethernet-switching>
                    {%- endif %}
                </family>
                {%- endif %}
                {%- if i_3.mac is defined %}
                {%- if i_3.mac is boolean %}
                <mac/>
                       {%- else %}
                <mac>{{i_3.mac}}</mac>
                {%- endif %}
                {%- endif %}
            </unit>            {%- endif %}
            {%- endfor %}
            {%- endif %}
        </interface>        {%- endif %}
        {%- endfor %}
        {%- endif %}
    </interfaces>
    <policy-options>
        {%- if policy_options.policy_statement is defined %}
        {%- for i_2 in policy_options.get("policy_statement") %}
        {%- if policy_options.policy_statement is defined %}
        <policy-statement>
            {%- if i_2.name is defined %}
            {%- if i_2.name is boolean %}
            <name/>
                   {%- else %}
            <name>{{i_2.name}}</name>
            {%- endif %}
            {%- endif %}
            {%- if i_2.term is defined %}
            {%- for i_3 in i_2.get("term") %}
            {%- if i_2.term is defined %}
            <term>
                {%- if i_3.name is defined %}
                {%- if i_3.name is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
                {%- if i_3.from is defined %}
                <from>
                    {%- if i_3.from.protocol is defined %}
                    {%- if i_3.from.protocol is boolean %}
                    <protocol/>
                    {%- else %}
                    <protocol>{{i_3.from.protocol}}</protocol>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_3.from.route_filter is defined %}
                    {%- for i_5 in i_3.from.get("route_filter") %}
                    {%- if i_3.from.route_filter is defined %}
                    <route-filter>
                        {%- if i_5.address is defined %}
                        {%- if i_5.address is boolean %}
                        <address/>
                               {%- else %}
                        <address>{{i_5.address}}</address>
                        {%- endif %}
                        {%- endif %}
                        {%- if i_5.exact is defined %}
                        {%- if i_5.exact is boolean %}
                        <exact/>
                               {%- else %}
                        <exact>{{i_5.exact}}</exact>
                        {%- endif %}
                        {%- endif %}
                        {%- if i_5.orlonger is defined %}
                        {%- if i_5.orlonger is boolean %}
                        <orlonger/>
                               {%- else %}
                        <orlonger>{{i_5.orlonger}}</orlonger>
                        {%- endif %}
                        {%- endif %}
                        {%- if i_5.prefix_length_range is defined %}
                        {%- if i_5.prefix_length_range is boolean %}
                        <prefix-length-range/>
                               {%- else %}
                        <prefix-length-range>{{i_5.prefix_length_range}}</prefix-length-range>
                        {%- endif %}
                        {%- endif %}
                    </route-filter>                    {%- endif %}
                    {%- endfor %}
                    {%- endif %}
                </from>
                {%- endif %}
                {%- if i_3.then is defined %}
                <then>
                    {%- if i_3.then.community is defined %}
                    {%- for i_5 in i_3.then.get("community") %}
                    {%- if i_3.then.community is defined %}
                    <community>
                        {%- if i_5.add is defined %}
                        {%- if i_5.add is boolean %}
                        <add/>
                               {%- else %}
                        <add>{{i_5.add}}</add>
                        {%- endif %}
                        {%- endif %}
                        {%- if i_5.community_name is defined %}
                        {%- if i_5.community_name is boolean %}
                        <community-name/>
                               {%- else %}
                        <community-name>{{i_5.community_name}}</community-name>
                        {%- endif %}
                        {%- endif %}
                    </community>                    {%- endif %}
                    {%- endfor %}
                    {%- endif %}
                    {%- if i_3.then.accept is defined %}
                    {%- if i_3.then.accept is boolean %}
                    <accept/>
                           {%- else %}
                    <accept>{{i_3.then.accept}}</accept>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_3.then.reject is defined %}
                    {%- if i_3.then.reject is boolean %}
                    <reject/>
                           {%- else %}
                    <reject>{{i_3.then.reject}}</reject>
                    {%- endif %}
                    {%- endif %}
                </then>
                {%- endif %}
            </term>            {%- endif %}
            {%- endfor %}
            {%- endif %}
            {%- if i_2.then is defined %}
            <then>
                {%- if i_2.then.load_balance is defined %}
                <load-balance>
                    {%- if i_2.then.load_balance.per_packet is defined %}
                    {%- if i_2.then.load_balance.per_packet is boolean %}
                    <per-packet/>
                           {%- else %}
                    <per-packet>{{i_2.then.load_balance.per_packet}}</per-packet>
                    {%- endif %}
                    {%- endif %}
                </load-balance>
                {%- endif %}
            </then>
            {%- endif %}
        </policy-statement>        {%- endif %}
        {%- endfor %}
        {%- endif %}
        {%- if policy_options.community is defined %}
        {%- for i_2 in policy_options.get("community") %}
        {%- if policy_options.community is defined %}
        <community>
            {%- if i_2.name is defined %}
            {%- if i_2.name is boolean %}
            <name/>
                   {%- else %}
            <name>{{i_2.name}}</name>
            {%- endif %}
            {%- endif %}
            {%- if i_2.members is defined %}
            {%- if i_2.members is boolean %}
            <members/>
            {%- else %}
            <members>{{i_2.members}}</members>
            {%- endif %}
            {%- endif %}
        </community>        {%- endif %}
        {%- endfor %}
        {%- endif %}
    </policy-options>
    <protocols>
        {%- if protocols.bgp is defined %}
        <bgp>
            {%- if protocols.bgp.group is defined %}
            {%- for i_3 in protocols.bgp.get("group") %}
            {%- if protocols.bgp.group is defined %}
            <group>
                {%- if i_3.name is defined %}
                {%- if i_3.name is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
                {%- if i_3.type is defined %}
                {%- if i_3.type is boolean %}
                <type/>
                       {%- else %}
                <type>{{i_3.type}}</type>
                {%- endif %}
                {%- endif %}
                {%- if i_3.multihop is defined %}
                <multihop>
                    {%- if i_3.multihop.no_nexthop_change is defined %}
                    {%- if i_3.multihop.no_nexthop_change is boolean %}
                    <no-nexthop-change/>
                           {%- else %}
                    <no-nexthop-change>{{i_3.multihop.no_nexthop_change}}</no-nexthop-change>
                    {%- endif %}
                    {%- endif %}
                </multihop>
                {%- endif %}
                {%- if i_3.local_address is defined %}
                {%- if i_3.local_address is boolean %}
                <local-address/>
                       {%- else %}
                <local-address>{{i_3.local_address}}</local-address>
                {%- endif %}
                {%- endif %}
                {%- if i_3.mtu_discovery is defined %}
                {%- if i_3.mtu_discovery is boolean %}
                <mtu-discovery/>
                       {%- else %}
                <mtu-discovery>{{i_3.mtu_discovery}}</mtu-discovery>
                {%- endif %}
                {%- endif %}
                {%- if i_3.import is defined %}
                {%- if i_3.import is boolean %}
                <import/>
                {%- else %}
                <import>{{i_3.import}}</import>
                {%- endif %}
                {%- endif %}
                {%- if i_3.family is defined %}
                <family>
                    {%- if i_3.family.evpn is defined %}
                    <evpn>
                        {%- if i_3.family.evpn.signaling is defined %}
                        <signaling>
                            {%- if i_3.family.evpn.signaling.delay_route_advertisements is defined %}
                            <delay-route-advertisements>
                                {%- if i_3.family.evpn.signaling.delay_route_advertisements.minimum_delay is defined %}
                                <minimum-delay>
                                    {%- if i_3.family.evpn.signaling.delay_route_advertisements.minimum_delay.routing_uptime is defined %}
                                    {%- if i_3.family.evpn.signaling.delay_route_advertisements.minimum_delay.routing_uptime is boolean %}
                                    <routing-uptime/>
                                           {%- else %}
                                    <routing-uptime>{{i_3.family.evpn.signaling.delay_route_advertisements.minimum_delay.routing_uptime}}</routing-uptime>
                                    {%- endif %}
                                    {%- endif %}
                                </minimum-delay>
                                {%- endif %}
                            </delay-route-advertisements>
                            {%- endif %}
                        </signaling>
                        {%- endif %}
                    </evpn>
                    {%- endif %}
                </family>
                {%- endif %}
                {%- if i_3.export is defined %}
                {%- if i_3.export is boolean %}
                <export/>
                {%- else %}
                <export>{{i_3.export}}</export>
                {%- endif %}
                {%- endif %}
                {%- if i_3.vpn_apply_export is defined %}
                {%- if i_3.vpn_apply_export is boolean %}
                <vpn-apply-export/>
                       {%- else %}
                <vpn-apply-export>{{i_3.vpn_apply_export}}</vpn-apply-export>
                {%- endif %}
                {%- endif %}
                {%- if i_3.cluster is defined %}
                {%- if i_3.cluster is boolean %}
                <cluster/>
                       {%- else %}
                <cluster>{{i_3.cluster}}</cluster>
                {%- endif %}
                {%- endif %}
                {%- if i_3.local_as is defined %}
                <local-as>
                    {%- if i_3.local_as.as_number is defined %}
                    {%- if i_3.local_as.as_number is boolean %}
                    <as-number/>
                           {%- else %}
                    <as-number>{{i_3.local_as.as_number}}</as-number>
                    {%- endif %}
                    {%- endif %}
                </local-as>
                {%- endif %}
                {%- if i_3.multipath is defined %}
                <multipath>
                    {%- if i_3.multipath.multiple_as is defined %}
                    {%- if i_3.multipath.multiple_as is boolean %}
                    <multiple-as/>
                           {%- else %}
                    <multiple-as>{{i_3.multipath.multiple_as}}</multiple-as>
                    {%- endif %}
                    {%- endif %}
                </multipath>
                {%- endif %}
                {%- if i_3.bfd_liveness_detection is defined %}
                <bfd-liveness-detection>
                    {%- if i_3.bfd_liveness_detection.minimum_interval is defined %}
                    {%- if i_3.bfd_liveness_detection.minimum_interval is boolean %}
                    <minimum-interval/>
                           {%- else %}
                    <minimum-interval>{{i_3.bfd_liveness_detection.minimum_interval}}</minimum-interval>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_3.bfd_liveness_detection.multiplier is defined %}
                    {%- if i_3.bfd_liveness_detection.multiplier is boolean %}
                    <multiplier/>
                           {%- else %}
                    <multiplier>{{i_3.bfd_liveness_detection.multiplier}}</multiplier>
                    {%- endif %}
                    {%- endif %}
                </bfd-liveness-detection>
                {%- endif %}
                {%- if i_3.allow is defined %}
                {%- if i_3.allow is boolean %}
                <allow/>
                {%- else %}
                <allow>{{i_3.allow}}</allow>
                {%- endif %}
                {%- endif %}
                {%- if i_3.neighbor is defined %}
                {%- for i_4 in i_3.get("neighbor") %}
                {%- if i_3.neighbor is defined %}
                <neighbor>
                    {%- if i_4.name is defined %}
                    {%- if i_4.name is boolean %}
                    <name/>
                           {%- else %}
                    <name>{{i_4.name}}</name>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_4.description is defined %}
                    {%- if i_4.description is boolean %}
                    <description/>
                           {%- else %}
                    <description>{{i_4.description}}</description>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_4.peer_as is defined %}
                    {%- if i_4.peer_as is boolean %}
                    <peer-as/>
                           {%- else %}
                    <peer-as>{{i_4.peer_as}}</peer-as>
                    {%- endif %}
                    {%- endif %}
                </neighbor>                {%- endif %}
                {%- endfor %}
                {%- endif %}
            </group>            {%- endif %}
            {%- endfor %}
            {%- endif %}
        </bgp>
        {%- endif %}
        {%- if protocols.evpn is defined %}
        <evpn>
            {%- if protocols.evpn.encapsulation is defined %}
            {%- if protocols.evpn.encapsulation is boolean %}
            <encapsulation/>
                   {%- else %}
            <encapsulation>{{protocols.evpn.encapsulation}}</encapsulation>
            {%- endif %}
            {%- endif %}
            {%- if protocols.evpn.multicast_mode is defined %}
            {%- if protocols.evpn.multicast_mode is boolean %}
            <multicast-mode/>
                   {%- else %}
            <multicast-mode>{{protocols.evpn.multicast_mode}}</multicast-mode>
            {%- endif %}
            {%- endif %}
            {%- if protocols.evpn.default_gateway is defined %}
            {%- if protocols.evpn.default_gateway is boolean %}
            <default-gateway/>
                   {%- else %}
            <default-gateway>{{protocols.evpn.default_gateway}}</default-gateway>
            {%- endif %}
            {%- endif %}
            {%- if protocols.evpn.extended_vni_list is defined %}
            {%- if protocols.evpn.extended_vni_list is boolean %}
            <extended-vni-list/>
            {%- else %}
            <extended-vni-list>{{protocols.evpn.extended_vni_list}}</extended-vni-list>
            {%- endif %}
            {%- endif %}
            {%- if protocols.evpn.no_core_isolation is defined %}
            {%- if protocols.evpn.no_core_isolation is boolean %}
            <no-core-isolation/>
                   {%- else %}
            <no-core-isolation>{{protocols.evpn.no_core_isolation}}</no-core-isolation>
            {%- endif %}
            {%- endif %}
        </evpn>
        {%- endif %}
        {%- if protocols.lldp is defined %}
        <lldp>
            {%- if protocols.lldp.interface is defined %}
            {%- for i_3 in protocols.lldp.get("interface") %}
            {%- if protocols.lldp.interface is defined %}
            <interface>
                {%- if i_3.name is defined %}
                {%- if i_3.name is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
            </interface>            {%- endif %}
            {%- endfor %}
            {%- endif %}
        </lldp>
        {%- endif %}
        {%- if protocols.igmp_snooping is defined %}
        <igmp-snooping>
            {%- if protocols.igmp_snooping.vlan is defined %}
            {%- for i_3 in protocols.igmp_snooping.get("vlan") %}
            {%- if protocols.igmp_snooping.vlan is defined %}
            <vlan>
                {%- if i_3.name is defined %}
                {%- if i_3.name is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
            </vlan>            {%- endif %}
            {%- endfor %}
            {%- endif %}
        </igmp-snooping>
        {%- endif %}
    </protocols>
    <routing-instances>
        {%- if routing_instances.instance is defined %}
        {%- for i_2 in routing_instances.get("instance") %}
        {%- if routing_instances.instance is defined %}
        <instance>
            {%- if i_2.name is defined %}
            {%- if i_2.name is boolean %}
            <name/>
                   {%- else %}
            <name>{{i_2.name}}</name>
            {%- endif %}
            {%- endif %}
            {%- if i_2.instance_type is defined %}
            {%- if i_2.instance_type is boolean %}
            <instance-type/>
                   {%- else %}
            <instance-type>{{i_2.instance_type}}</instance-type>
            {%- endif %}
            {%- endif %}
            {%- if i_2.interface is defined %}
            {%- for i_3 in i_2.get("interface") %}
            {%- if i_2.interface is defined %}
            <interface>
                {%- if i_3.name is defined %}
                {%- if i_3.name is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
            </interface>            {%- endif %}
            {%- endfor %}
            {%- endif %}
            {%- if i_2.route_distinguisher is defined %}
            <route-distinguisher>
                {%- if i_2.route_distinguisher.rd_type is defined %}
                {%- if i_2.route_distinguisher.rd_type is boolean %}
                <rd-type/>
                       {%- else %}
                <rd-type>{{i_2.route_distinguisher.rd_type}}</rd-type>
                {%- endif %}
                {%- endif %}
            </route-distinguisher>
            {%- endif %}
            {%- if i_2.vrf_target is defined %}
            <vrf-target>
                {%- if i_2.vrf_target.community is defined %}
                {%- if i_2.vrf_target.community is boolean %}
                <community/>
                       {%- else %}
                <community>{{i_2.vrf_target.community}}</community>
                {%- endif %}
                {%- endif %}
            </vrf-target>
            {%- endif %}
            {%- if i_2.vrf_table_label is defined %}
            <vrf-table-label>
            </vrf-table-label>
            {%- endif %}
            {%- if i_2.routing_options is defined %}
            <routing-options>
                {%- if i_2.routing_options.auto_export is defined %}
                <auto-export>
                </auto-export>
                {%- endif %}
            </routing-options>
            {%- endif %}
            {%- if i_2.protocols is defined %}
            <protocols>
                {%- if i_2.protocols.ospf is defined %}
                <ospf>
                    {%- if i_2.protocols.ospf.export is defined %}
                    {%- if i_2.protocols.ospf.export is boolean %}
                    <export/>
                    {%- else %}
                    <export>{{i_2.protocols.ospf.export}}</export>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_2.protocols.ospf.area is defined %}
                    {%- for i_5 in i_2.protocols.ospf.get("area") %}
                    {%- if i_2.protocols.ospf.area is defined %}
                    <area>
                        {%- if i_5.name is defined %}
                        {%- if i_5.name is boolean %}
                        <name/>
                               {%- else %}
                        <name>{{i_5.name}}</name>
                        {%- endif %}
                        {%- endif %}
                        {%- if i_5.interface is defined %}
                        {%- for i_6 in i_5.get("interface") %}
                        {%- if i_5.interface is defined %}
                        <interface>
                            {%- if i_6.name is defined %}
                            {%- if i_6.name is boolean %}
                            <name/>
                                   {%- else %}
                            <name>{{i_6.name}}</name>
                            {%- endif %}
                            {%- endif %}
                            {%- if i_6.metric is defined %}
                            {%- if i_6.metric is boolean %}
                            <metric/>
                                   {%- else %}
                            <metric>{{i_6.metric}}</metric>
                            {%- endif %}
                            {%- endif %}
                        </interface>                        {%- endif %}
                        {%- endfor %}
                        {%- endif %}
                    </area>                    {%- endif %}
                    {%- endfor %}
                    {%- endif %}
                </ospf>
                {%- endif %}
                {%- if i_2.protocols.evpn is defined %}
                <evpn>
                    {%- if i_2.protocols.evpn.ip_prefix_routes is defined %}
                    <ip-prefix-routes>
                        {%- if i_2.protocols.evpn.ip_prefix_routes.advertise is defined %}
                        {%- if i_2.protocols.evpn.ip_prefix_routes.advertise is boolean %}
                        <advertise/>
                               {%- else %}
                        <advertise>{{i_2.protocols.evpn.ip_prefix_routes.advertise}}</advertise>
                        {%- endif %}
                        {%- endif %}
                        {%- if i_2.protocols.evpn.ip_prefix_routes.encapsulation is defined %}
                        {%- if i_2.protocols.evpn.ip_prefix_routes.encapsulation is boolean %}
                        <encapsulation/>
                               {%- else %}
                        <encapsulation>{{i_2.protocols.evpn.ip_prefix_routes.encapsulation}}</encapsulation>
                        {%- endif %}
                        {%- endif %}
                        {%- if i_2.protocols.evpn.ip_prefix_routes.vni is defined %}
                        {%- if i_2.protocols.evpn.ip_prefix_routes.vni is boolean %}
                        <vni/>
                               {%- else %}
                        <vni>{{i_2.protocols.evpn.ip_prefix_routes.vni}}</vni>
                        {%- endif %}
                        {%- endif %}
                        {%- if i_2.protocols.evpn.ip_prefix_routes.export is defined %}
                        {%- if i_2.protocols.evpn.ip_prefix_routes.export is boolean %}
                        <export/>
                        {%- else %}
                        <export>{{i_2.protocols.evpn.ip_prefix_routes.export}}</export>
                        {%- endif %}
                        {%- endif %}
                    </ip-prefix-routes>
                    {%- endif %}
                </evpn>
                {%- endif %}
            </protocols>
            {%- endif %}
        </instance>        {%- endif %}
        {%- endfor %}
        {%- endif %}
    </routing-instances>
    <routing-options>
        {%- if routing_options.static is defined %}
        <static>
            {%- if routing_options.static.route is defined %}
            {%- for i_3 in routing_options.static.get("route") %}
            {%- if routing_options.static.route is defined %}
            <route>
                {%- if i_3.name is defined %}
                {%- if i_3.name is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
                {%- if i_3.next_hop is defined %}
                {%- if i_3.next_hop is boolean %}
                <next-hop/>
                {%- else %}
                <next-hop>{{i_3.next_hop}}</next-hop>
                {%- endif %}
                {%- endif %}
            </route>            {%- endif %}
            {%- endfor %}
            {%- endif %}
        </static>
        {%- endif %}
        {%- if routing_options.router_id is defined %}
        {%- if routing_options.router_id is boolean %}
        <router-id/>
               {%- else %}
        <router-id>{{routing_options.router_id}}</router-id>
        {%- endif %}
        {%- endif %}
        {%- if routing_options.forwarding_table is defined %}
        <forwarding-table>
            {%- if routing_options.forwarding_table.export is defined %}
            {%- if routing_options.forwarding_table.export is boolean %}
            <export/>
            {%- else %}
            <export>{{routing_options.forwarding_table.export}}</export>
            {%- endif %}
            {%- endif %}
            {%- if routing_options.forwarding_table.ecmp_fast_reroute is defined %}
            {%- if routing_options.forwarding_table.ecmp_fast_reroute is boolean %}
            <ecmp-fast-reroute/>
                   {%- else %}
            <ecmp-fast-reroute>{{routing_options.forwarding_table.ecmp_fast_reroute}}</ecmp-fast-reroute>
            {%- endif %}
            {%- endif %}
            {%- if routing_options.forwarding_table.chained_composite_next_hop is defined %}
            <chained-composite-next-hop>
                {%- if routing_options.forwarding_table.chained_composite_next_hop.ingress is defined %}
                <ingress>
                    {%- if routing_options.forwarding_table.chained_composite_next_hop.ingress.evpn is defined %}
                    {%- if routing_options.forwarding_table.chained_composite_next_hop.ingress.evpn is boolean %}
                    <evpn/>
                           {%- else %}
                    <evpn>{{routing_options.forwarding_table.chained_composite_next_hop.ingress.evpn}}</evpn>
                    {%- endif %}
                    {%- endif %}
                </ingress>
                {%- endif %}
            </chained-composite-next-hop>
            {%- endif %}
        </forwarding-table>
        {%- endif %}
    </routing-options>
    <snmp>
        {%- if snmp.location is defined %}
        {%- if snmp.location is boolean %}
        <location/>
               {%- else %}
        <location>{{snmp.location}}</location>
        {%- endif %}
        {%- endif %}
        {%- if snmp.contact is defined %}
        {%- if snmp.contact is boolean %}
        <contact/>
               {%- else %}
        <contact>{{snmp.contact}}</contact>
        {%- endif %}
        {%- endif %}
        {%- if snmp.community is defined %}
        {%- for i_2 in snmp.get("community") %}
        {%- if snmp.community is defined %}
        <community>
            {%- if i_2.name is defined %}
            {%- if i_2.name is boolean %}
            <name/>
                   {%- else %}
            <name>{{i_2.name}}</name>
            {%- endif %}
            {%- endif %}
            {%- if i_2.authorization is defined %}
            {%- if i_2.authorization is boolean %}
            <authorization/>
                   {%- else %}
            <authorization>{{i_2.authorization}}</authorization>
            {%- endif %}
            {%- endif %}
        </community>        {%- endif %}
        {%- endfor %}
        {%- endif %}
    </snmp>
    <switch-options>
        {%- if switch_options.vtep_source_interface is defined %}
        <vtep-source-interface>
            {%- if switch_options.vtep_source_interface.interface_name is defined %}
            {%- if switch_options.vtep_source_interface.interface_name is boolean %}
            <interface-name/>
                   {%- else %}
            <interface-name>{{switch_options.vtep_source_interface.interface_name}}</interface-name>
            {%- endif %}
            {%- endif %}
        </vtep-source-interface>
        {%- endif %}
        {%- if switch_options.route_distinguisher is defined %}
        <route-distinguisher>
            {%- if switch_options.route_distinguisher.rd_type is defined %}
            {%- if switch_options.route_distinguisher.rd_type is boolean %}
            <rd-type/>
                   {%- else %}
            <rd-type>{{switch_options.route_distinguisher.rd_type}}</rd-type>
            {%- endif %}
            {%- endif %}
        </route-distinguisher>
        {%- endif %}
        {%- if switch_options.vrf_target is defined %}
        <vrf-target>
            {%- if switch_options.vrf_target.community is defined %}
            {%- if switch_options.vrf_target.community is boolean %}
            <community/>
                   {%- else %}
            <community>{{switch_options.vrf_target.community}}</community>
            {%- endif %}
            {%- endif %}
            {%- if switch_options.vrf_target.auto is defined %}
            <auto>
            </auto>
            {%- endif %}
        </vrf-target>
        {%- endif %}
    </switch-options>
    <system>
        {%- if system.login is defined %}
        <login>
            {%- if system.login.user is defined %}
            {%- for i_3 in system.login.get("user") %}
            {%- if system.login.user is defined %}
            <user>
                {%- if i_3.name is defined %}
                {%- if i_3.name is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
                {%- if i_3.uid is defined %}
                {%- if i_3.uid is boolean %}
                <uid/>
                       {%- else %}
                <uid>{{i_3.uid}}</uid>
                {%- endif %}
                {%- endif %}
                {%- if i_3.class is defined %}
                {%- if i_3.class is boolean %}
                <class/>
                       {%- else %}
                <class>{{i_3.class}}</class>
                {%- endif %}
                {%- endif %}
                {%- if i_3.authentication is defined %}
                <authentication>
                    {%- if i_3.authentication.encrypted_password is defined %}
                    {%- if i_3.authentication.encrypted_password is boolean %}
                    <encrypted-password/>
                           {%- else %}
                    <encrypted-password>{{i_3.authentication.encrypted_password}}</encrypted-password>
                    {%- endif %}
                    {%- endif %}
                </authentication>
                {%- endif %}
            </user>            {%- endif %}
            {%- endfor %}
            {%- endif %}
            {%- if system.login.message is defined %}
            {%- if system.login.message is boolean %}
            <message/>
                   {%- else %}
            <message>{{system.login.message}}</message>
            {%- endif %}
            {%- endif %}
        </login>
        {%- endif %}
        {%- if system.root_authentication is defined %}
        <root-authentication>
            {%- if system.root_authentication.encrypted_password is defined %}
            {%- if system.root_authentication.encrypted_password is boolean %}
            <encrypted-password/>
                   {%- else %}
            <encrypted-password>{{system.root_authentication.encrypted_password}}</encrypted-password>
            {%- endif %}
            {%- endif %}
        </root-authentication>
        {%- endif %}
        {%- if system.host_name is defined %}
        {%- if system.host_name is boolean %}
        <host-name/>
               {%- else %}
        <host-name>{{system.host_name}}</host-name>
        {%- endif %}
        {%- endif %}
        {%- if system.services is defined %}
        <services>
            {%- if system.services.ssh is defined %}
            <ssh>
                {%- if system.services.ssh.root_login is defined %}
                {%- if system.services.ssh.root_login is boolean %}
                <root-login/>
                       {%- else %}
                <root-login>{{system.services.ssh.root_login}}</root-login>
                {%- endif %}
                {%- endif %}
            </ssh>
            {%- endif %}
            {%- if system.services.extension_service is defined %}
            <extension-service>
                {%- if system.services.extension_service.request_response is defined %}
                <request-response>
                    {%- if system.services.extension_service.request_response.grpc is defined %}
                    <grpc>
                        {%- if system.services.extension_service.request_response.grpc.max_connections is defined %}
                        {%- if system.services.extension_service.request_response.grpc.max_connections is boolean %}
                        <max-connections/>
                               {%- else %}
                        <max-connections>{{system.services.extension_service.request_response.grpc.max_connections}}</max-connections>
                        {%- endif %}
                        {%- endif %}
                    </grpc>
                    {%- endif %}
                </request-response>
                {%- endif %}
                {%- if system.services.extension_service.notification is defined %}
                <notification>
                    {%- if system.services.extension_service.notification.allow_clients is defined %}
                    <allow-clients>
                        {%- if system.services.extension_service.notification.allow_clients.address is defined %}
                        {%- if system.services.extension_service.notification.allow_clients.address is boolean %}
                        <address/>
                        {%- else %}
                        <address>{{system.services.extension_service.notification.allow_clients.address}}</address>
                        {%- endif %}
                        {%- endif %}
                    </allow-clients>
                    {%- endif %}
                </notification>
                {%- endif %}
            </extension-service>
            {%- endif %}
            {%- if system.services.netconf is defined %}
            <netconf>
                {%- if system.services.netconf.ssh is defined %}
                <ssh>
                </ssh>
                {%- endif %}
            </netconf>
            {%- endif %}
            {%- if system.services.rest is defined %}
            <rest>
                {%- if system.services.rest.http is defined %}
                <http>
                    {%- if system.services.rest.http.port is defined %}
                    {%- if system.services.rest.http.port is boolean %}
                    <port/>
                           {%- else %}
                    <port>{{system.services.rest.http.port}}</port>
                    {%- endif %}
                    {%- endif %}
                </http>
                {%- endif %}
                {%- if system.services.rest.enable_explorer is defined %}
                {%- if system.services.rest.enable_explorer is boolean %}
                <enable-explorer/>
                       {%- else %}
                <enable-explorer>{{system.services.rest.enable_explorer}}</enable-explorer>
                {%- endif %}
                {%- endif %}
            </rest>
            {%- endif %}
        </services>
        {%- endif %}
        {%- if system.syslog is defined %}
        <syslog>
            {%- if system.syslog.user is defined %}
            {%- for i_3 in system.syslog.get("user") %}
            {%- if system.syslog.user is defined %}
            <user>
                {%- if i_3.name is defined %}
                {%- if i_3.name is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
                {%- if i_3.contents is defined %}
                {%- for i_4 in i_3.get("contents") %}
                {%- if i_3.contents is defined %}
                <contents>
                    {%- if i_4.name is defined %}
                    {%- if i_4.name is boolean %}
                    <name/>
                           {%- else %}
                    <name>{{i_4.name}}</name>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_4.emergency is defined %}
                    {%- if i_4.emergency is boolean %}
                    <emergency/>
                           {%- else %}
                    <emergency>{{i_4.emergency}}</emergency>
                    {%- endif %}
                    {%- endif %}
                </contents>                {%- endif %}
                {%- endfor %}
                {%- endif %}
            </user>            {%- endif %}
            {%- endfor %}
            {%- endif %}
            {%- if system.syslog.file is defined %}
            {%- for i_3 in system.syslog.get("file") %}
            {%- if system.syslog.file is defined %}
            <file>
                {%- if i_3.name is defined %}
                {%- if i_3.name is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
                {%- if i_3.contents is defined %}
                {%- for i_4 in i_3.get("contents") %}
                {%- if i_3.contents is defined %}
                <contents>
                    {%- if i_4.name is defined %}
                    {%- if i_4.name is boolean %}
                    <name/>
                           {%- else %}
                    <name>{{i_4.name}}</name>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_4.any is defined %}
                    {%- if i_4.any is boolean %}
                    <any/>
                           {%- else %}
                    <any>{{i_4.any}}</any>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_4.notice is defined %}
                    {%- if i_4.notice is boolean %}
                    <notice/>
                           {%- else %}
                    <notice>{{i_4.notice}}</notice>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_4.info is defined %}
                    {%- if i_4.info is boolean %}
                    <info/>
                           {%- else %}
                    <info>{{i_4.info}}</info>
                    {%- endif %}
                    {%- endif %}
                </contents>                {%- endif %}
                {%- endfor %}
                {%- endif %}
            </file>            {%- endif %}
            {%- endfor %}
            {%- endif %}
        </syslog>
        {%- endif %}
        {%- if system.extensions is defined %}
        <extensions>
            {%- if system.extensions.providers is defined %}
            {%- for i_3 in system.extensions.get("providers") %}
            {%- if system.extensions.providers is defined %}
            <providers>
                {%- if i_3.name is defined %}
                {%- if i_3.name is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
                {%- if i_3.license_type is defined %}
                {%- for i_4 in i_3.get("license_type") %}
                {%- if i_3.license_type is defined %}
                <license-type>
                    {%- if i_4.name is defined %}
                    {%- if i_4.name is boolean %}
                    <name/>
                           {%- else %}
                    <name>{{i_4.name}}</name>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_4.deployment_scope is defined %}
                    {%- if i_4.deployment_scope is boolean %}
                    <deployment-scope/>
                    {%- else %}
                    <deployment-scope>{{i_4.deployment_scope}}</deployment-scope>
                    {%- endif %}
                    {%- endif %}
                </license-type>                {%- endif %}
                {%- endfor %}
                {%- endif %}
            </providers>            {%- endif %}
            {%- endfor %}
            {%- endif %}
        </extensions>
        {%- endif %}
    </system>
    <vlans>
        {%- if vlans.vlan is defined %}
        {%- for i_2 in vlans.get("vlan") %}
        {%- if vlans.vlan is defined %}
        <vlan>
            {%- if i_2.name is defined %}
            {%- if i_2.name is boolean %}
            <name/>
                   {%- else %}
            <name>{{i_2.name}}</name>
            {%- endif %}
            {%- endif %}
            {%- if i_2.vlan_id is defined %}
            {%- if i_2.vlan_id is boolean %}
            <vlan-id/>
                   {%- else %}
            <vlan-id>{{i_2.vlan_id}}</vlan-id>
            {%- endif %}
            {%- endif %}
            {%- if i_2.l3_interface is defined %}
            {%- if i_2.l3_interface is boolean %}
            <l3-interface/>
                   {%- else %}
            <l3-interface>{{i_2.l3_interface}}</l3-interface>
            {%- endif %}
            {%- endif %}
            {%- if i_2.vxlan is defined %}
            <vxlan>
                {%- if i_2.vxlan.vni is defined %}
                {%- if i_2.vxlan.vni is boolean %}
                <vni/>
                       {%- else %}
                <vni>{{i_2.vxlan.vni}}</vni>
                {%- endif %}
                {%- endif %}
            </vxlan>
            {%- endif %}
        </vlan>        {%- endif %}
        {%- endfor %}
        {%- endif %}
    </vlans>
    </groups>
	<apply-groups> JTAF_ANSIBLE </apply-groups>
</configuration>