{%- set ele_for_struct = [] %}
{%- set all_ele_list = [] %}
{%- set ele_xml_struct = [] %}
{%- macro string_macro(ele) -%}
		{{ele.name|capitalize|replace("-", "_")}}         *string  `xml:"{{ele.name|replace("_","-")}},omitempty"`
{%- endmacro -%}
{%- macro bool_macro(ele) -%}
		{{ele.name|capitalize|replace("-", "_")}}         *bool  `xml:"{{ele.name|replace("_","-")}},omitempty"`
{%- endmacro -%}

{%- macro int32_macro(ele) -%}
		{{ele.name|capitalize}}         *int32  `xml:"{{ele.name|replace("_","-")}},omitempty"`
{%- endmacro -%}

{%- macro int64_macro(ele) -%}
	{{ele.name|capitalize}}         *int64  `xml:"{{ele.name|replace("_","-")}},omitempty"`
{%- endmacro -%}

{%- macro list_macro(ele) -%}
		{%- set parent_name = ele['path'].split("/")[-1] -%}
		{{ele.name|capitalize}} []xml{{parent_name|capitalize}}{{ele.name|capitalize}} `xml:"{{ele.name}},omitempty"`	
{%- endmacro -%}

{%- macro xml_struct_definition(ele) -%}
{%- set parent_name = ele['path'].split("/")[-1] -%}
type xml{{parent_name|capitalize}}{{ele.name|capitalize}} struct {
	{%- set macro_ele_xml_struct = []%}
	XMLName xml.Name `xml:"{{ele.name}}"`
	{%- if ele.kids %}
	{%- for kid in ele['kids'] %}
	{%- if (kid['leaf-type'] == 'string') or (kid['base-type'] == 'string') or (kid['leaf-type']== 'empty')%}
	{{string_macro(kid)}}
	{%- endif %}
	{%- if kid['leaf-type']== 'union'%}
	{{int64_macro(kid)}}
	{%-  endif %}
	{%- if (kid['type'] == 'container') or (kid['type'] == 'list') %}
	{{list_macro(kid)}}
	{%- if macro_ele_xml_struct.append(kid) %}{%- endif %}
	{%- endif %}
	{%- endfor %}
	{%- endif %}
}
{%- if macro_ele_xml_struct|length > 0 %}
{%- for macro_kid in macro_ele_xml_struct %}
{{xml_struct_definition(macro_kid)}}
{%- endfor %}
{%- endif %}
{%- endmacro -%}


{%- macro create_struct(kid, arg2) %}
{%- if kid[0] is defined  %}
{%- if kid|length > 1%}
{%- if kid[0].name == kid[1].name %}
{%- if kid.pop(1)%} {%- endif %}
{%- endif %}
{%- endif %}
{%- set arg2 = []%}
{%- for grandkid in kid %}
type {{grandkid.name|capitalize}}Model struct {
	{%- for ele in grandkid['kids'] %}
	{%- if ele['leaf-type'] == 'string' %}
	{{ele.name|capitalize|replace("-", "_")}}	types.{{ele['leaf-type']|capitalize}} `tfsdk:"{{ele.name|replace("-", "_")}}"`
	{%- endif %}
	{%- if ele['base-type'] == 'string' %}
	{{ele.name|capitalize}}	types.{{ele['base-type']|capitalize}} `tfsdk:"{{ele.name}}"`
	{%- endif %}
	{%- if ele['leaf-type'] == 'empty'%}
	{{ele.name|capitalize|replace("-", "_")}} types.Bool `tfsdk:"{{ele.name|replace("-", "_")}}"`
	{%- endif %}
	{%- if ele['leaf-type'] == 'union' %}
	{{ele.name|capitalize}}	types.Int64 `tfsdk:"{{ele.name}}"`
	{%- endif %}
	{%- if ele['type'] == 'container' %}
	{{ele.name|capitalize}}	types.List `tfsdk:"{{ele.name}}"`
	{%- if arg2.append(ele) %} {% endif %}
	{%- endif %}
	{%- if ele['type'] == 'list' %}
	{{ele.name|capitalize}}	types.List `tfsdk:"{{ele.name}}"`
	{%- if arg2.append(ele) %} {% endif %}
	{%- endif %}
	{%- endfor %}
}
func (o {{grandkid.name|capitalize}}Model) AttrTypes() map[string]attr.Type {
	return map[string]attr.Type{
	{%- for ele in grandkid['kids'] %}
	{%- if ele['leaf-type'] == 'string'%}
	"{{ele.name|replace("-","_")}}": 	types.{{ele['leaf-type']|capitalize}}Type,
	{%- endif %}
	{%- if ele['base-type'] == 'string' %}
	"{{ele.name|replace("-","_")}}": 	types.{{ele['base-type']|capitalize}}Type,
	{%- endif %}
	{%- if ele['leaf-type'] == 'union' %}
	"{{ele.name}}": 	types.Int64Type,
	{%- endif %}
	{%- if ele['leaf-type'] == 'empty' %}
	"{{ele.name|replace("-","_")}}": 	types.BoolType,
	{%- endif %}
	{%- if ele['type'] == 'list' or ele['type'] == 'container'%}
	"{{ele.name}}": 	types.ListType{ElemType: types.ObjectType{AttrTypes: {{ele.name|capitalize}}Model{}.AttrTypes()}},
	{%- endif %}
	{%- endfor %}
	}
}
func (o {{grandkid.name|capitalize}}Model) Attributes() map[string]schema.Attribute {
	return map[string]schema.Attribute{
	{%- for ele in grandkid['kids'] %}
	{%- if ele['leaf-type'] == 'string'%}
	"{{ele.name|replace("-","_")}}": schema.{{ele['leaf-type']|capitalize}}Attribute{
		Optional: true,
		MarkdownDescription: "xpath is `config.Groups.{{kid[0].name|capitalize}}.{{ele.name|capitalize|replace("-", "_")}}`",
	},
	{%- endif %}
	{%- if ele['base-type'] == 'string'%}
	"{{ele.name|replace("-","_")}}": schema.{{ele['base-type']|capitalize}}Attribute{
		Optional: true,
		MarkdownDescription: "xpath is `config.Groups.{{kid[0].name|capitalize}}.{{ele.name|capitalize|replace("-", "_")}}`",
	},
	{%- endif %}
	{%- if ele['leaf-type'] == 'union' %}
	"{{ele.name}}": schema.Int64Attribute{
		Optional: true,
		MarkdownDescription: "xpath is `config.Groups.{{kid[0].name|capitalize}}.{{ele.name|capitalize}}`",
	},
	{%- endif %}
	{%- if ele['leaf-type'] == 'empty' %}
	"{{ele.name|replace("-", "_")}}": schema.BoolAttribute{
		Optional: true,
		MarkdownDescription: "xpath is `config.Groups.{{kid[0].name|capitalize}}.{{ele.name|capitalize|replace("-", "_")}}`",
	},
	{%- endif %}
	{%- if ele['type'] == 'list' or ele['type'] == 'container' %}
	"{{ele.name}}": schema.ListNestedAttribute{
		Optional: true,
		NestedObject: schema.NestedAttributeObject{
			Attributes: {{ele.name|capitalize}}Model{}.Attributes(),
		},
	},
	{%- endif %}
	{%- endfor %}
	}
}
{%- endfor %}
{%- if arg2|length > 0 %}
{{create_struct(arg2, arg3)}}
{%- endif %}
{%- endif %}
{%- endmacro %}

{%- macro get_parent_list(ele) -%}
{%- set result_list = [] %}
{%- for item in ele['path'].split("/")[1:]%}
{{- result_list.append(item|capitalize|replace("-", "_")) or ""}}
{%- endfor %}
{{-result_list|join(".")-}}
{%- endmacro -%}

{%- macro get_parent_list_with_iterator(ele) -%}
{%- set result_list = [] %}
{%- for item in ele['path'].split("/")[1:]%}
{%- set cap_item = item|capitalize %}
{{- result_list.append(cap_item+"[i_"+item+"]") or ""}}
{%- endfor %}
{{-result_list|join(".")-}}
{%- endmacro -%}

{%- macro create_method_macro(parent_var, ele, first_ele) %}
	{%- set parent_name = ele['path'].split("/")[-1] %}
	{%- set kid_var = 'var_'+parent_name+"_"+ele.name %}
	var {{kid_var}} []{{ele.name|capitalize}}Model
	{%- if parent_var != 'None' %}
	resp.Diagnostics.Append({{parent_var}}.{{ele.name|capitalize}}.ElementsAs(ctx, &{{kid_var}}, false)...)
	{%- else %}
	resp.Diagnostics.Append(v_{{parent_name}}.{{ele.name|capitalize}}.ElementsAs(ctx, &{{kid_var}}, false)...)
	{%- endif %}
	if resp.Diagnostics.HasError() {
		return
	}
	{%- if first_ele == 1 %}
	config.Groups.{{ele.name|capitalize}} = make([]xml{{parent_name|capitalize}}{{ele.name|capitalize}}, len({{kid_var}}))
	{%- else %}
	config.Groups.{{get_parent_list_with_iterator(ele)}}.{{ele.name|capitalize}} = make([]xml{{parent_name|capitalize}}{{ele.name|capitalize}}, len({{kid_var}}))
	{%- endif %}
	for i_{{ele.name}}, v_{{ele.name}} := range {{kid_var}} {
		{%- for kid in ele['kids'] %}
		{%- if kid['leaf-type'] == 'string' or kid['base-type'] == 'string'%}
		config.Groups.{{get_parent_list_with_iterator(kid)}}.{{kid.name|capitalize|replace("-", "_")}} = v_{{ele.name}}.{{kid.name|capitalize|replace("-", "_")}}.ValueStringPointer()
		{%- endif %}
		{%- if kid['leaf-type'] ==  'empty' %}
		if v_{{ele.name}}.{{kid.name|capitalize|replace("-","_")}}.ValueBool() {
			empty := ""
			config.Groups.{{get_parent_list_with_iterator(kid)}}.{{kid.name|capitalize|replace("-", "_")}} = &empty
		}	
		{%- endif %}
		{%- if kid['leaf-type'] == 'union' %}
		config.Groups.{{get_parent_list_with_iterator(kid)}}.{{kid.name|capitalize}} = v_{{ele.name}}.{{kid.name|capitalize}}.ValueInt64Pointer()
		{%- endif %}
		{%- if (kid['type'] == 'list') or (kid['type'] == 'container') %}
		{{create_method_macro('None', kid, 0)}}
		{%- endif %}
		{%- endfor %}
	}
	{# {%- if all_ele_list.append(ele.name) %}{%- endif %} #}
{%- endmacro %}

{%- macro read_resource_list(ele) %}
	var {{ele.name}}s []{{ele.name|capitalize}}Model
	xml{{ele.name}}s = config.Groups.{{ele.name|capitalize}}[0]
	{{ele.name}}s = append({{ele.name}}s, {{ele.name}}) 
	{%- if ele['kids'] %}
	{%- for grandkid in ele['kids']%}
	{%- if grandkid['type'] == 'container' or grandkid['type'] == 'list'%}
	{{- read_resource_list(grandkid)}}
	{%- endif %}
	{%- if grandkid['base-type'] == 'string'%}
	newstate.{{grandkid.name}} = types.StringPointerValue(config.Groups.{{ele.name|capitalize}}.{{grandkid.name|capitalize}})	
	{%- endif %}
	{%- endfor %}
	{%- endif %}
{%- endmacro %}

package main

import (
	"context"
	"encoding/xml"
	"strings"
	"github.com/hashicorp/terraform-plugin-framework/attr"
	"github.com/hashicorp/terraform-plugin-framework/resource"
	"github.com/hashicorp/terraform-plugin-framework/resource/schema"
	"github.com/hashicorp/terraform-plugin-framework/resource/schema/planmodifier"
	"github.com/hashicorp/terraform-plugin-framework/resource/schema/stringplanmodifier"
	"github.com/hashicorp/terraform-plugin-framework/types"
)

// Junos XML Hierarchy
{%- set parent = data['root']['kids'][0]['kids'][0] %}
type xml{{parent.name|capitalize}} struct {
	XMLName xml.Name `xml:"configuration"`
	Groups  struct {
		XMLName   xml.Name `xml:"groups"`
		Name      string   `xml:"name"`
		{%- for kid in parent['kids'] %}
		{%- if kid['type'] == 'list'%}
		{{kid.name|capitalize}} []xml{{parent.name|capitalize}}{{kid.name|capitalize}} `xml:"{{parent.name}}>{{kid.name}}"`
		{%- if ele_xml_struct.append(kid) %}{%- endif %}
		{%- endif %}
		{%- endfor %}
	} `xml:"groups"`
}
{% if ele_xml_struct|length > 0%}
{{- xml_struct_definition(ele_xml_struct[0])}}
{%- set ele_xml_struct = [] %}
{%- endif %}


// Collecting objects from the .tf file
{%- for kid in parent['kids'] %}
type {{parent.name|capitalize}}Model struct {
	ResourceName	types.String `tfsdk:"resource_name"`
	{%- if kid['leaf-type'] == 'string' %}
	{{kid.name|capitalize}}	types.{{kid['leaf-type']|capitalize}} `tfsdk:"{{kid.name}}"`
	{%- endif %}
	{%- if kid['leaf-type'] == 'empty'%}
	{{kid.name|capitalize|replace("-", "_")}} types.Bool `tfsdk:"{{kid.name|replace("-", "_")}}"`
	{%- endif %}
	{%- if kid['leaf-type'] == 'union' %}
	{{kid.name|capitalize}}	types.Int64 `tfsdk:"{{kid.name}}"`
	{%- endif %}
	{%- if kid['type'] == 'list' %}
	{{kid.name|capitalize}}	types.List `tfsdk:"{{kid.name}}"`
	{%- if ele_for_struct.append(kid) %} {% endif %}
	{%- endif %}

}
func (o {{parent.name|capitalize}}Model) AttrTypes() map[string]attr.Type {
	return map[string]attr.Type{
		{%- if kid['leaf-type'] == 'string' %}
		"{{kid.name}}": 	types.{{kid['leaf-type']|capitalize}}Type,
		{%- endif %}
		{%- if kid['leaf-type'] == 'union' %}
		"{{kid.name}}": 	types.Int64Type,
		{%- endif %}
		{%- if kid['leaf-type'] == 'empty'%}
		"{{kid.name|replace("-","_")}}": 	types.BoolType,
		{%- endif %}
		{%- if kid['type'] == 'list' or kid['type'] == 'container'%}
		"{{kid.name}}": 	types.ListType{ElemType: types.ObjectType{AttrTypes: {{kid.name|capitalize}}Model{}.AttrTypes()}},
		{%- endif %}
	}
}
func (o {{kid.name|capitalize}}sModel) Attributes() map[string]schema.Attribute {
	return map[string]schema.Attribute{
		{%- if kid['leaf-type'] == 'string' %}
		"{{kid.name}}": schema.StringAttribute{
			Optional: true,
			MarkdownDescription: "xpth is `config.Groups.{{parent.name|capitalize}}.{{kid.name|capitalize}}",
		},
		{%- endif %}
		{%- if kid['leaf-type'] == 'union' %}
		"{{kid.name}}": schema.Int64Attribute{
			Optional: true,
			MarkdownDescription: "xpath is `config.Groups.{{parent.name|capitalize}}.{{kid.name|capitalize}}",
		},
		{%- endif %}
		{%- if kid['leaf-type'] ==  'empty'%}
		"{{kid.name|replace("-","_")}}":schema.BoolAttribute{
			Optional: true,
			MarkdownDescription: "xpath is `config.Groups.{{parent.name|capitalize}}.{{kid.name|capitalize|replace("-","_")}}",
		},
		{%- endif %}
		{%- if (kid['type'] == 'list') or (kid['type'] == 'container') %}
		"{{kid.name}}": schema.ListNestedAttribute{
			Optional: true,
			NestedObject: schema.NestedAttributeObject{
				Attributes: {{kid.name|capitalize}}Model{}.Attributes(),
			},
		},
		{%- endif %}
	}
}
{%- endfor %}
{%- if ele_for_struct|length > 0 %}
{{create_struct(ele_for_struct, arg2)}}
{%- set ele_for_struct = [] %}
{%- endif %}

// Collects the data for the crud work
type resource{{parent.name|capitalize}} struct {
	client ProviderConfig
}

func (r *resource{{parent.name|capitalize}}) Configure(_ context.Context, req resource.ConfigureRequest, _ *resource.ConfigureResponse) {
	if req.ProviderData == nil {
		return
	}
	r.client = req.ProviderData.(ProviderConfig)
}
// Metadata implements resource.Resource.
func (r *resource{{parent.name|capitalize}}) Metadata(_ context.Context, req resource.MetadataRequest, resp *resource.MetadataResponse) {
	resp.TypeName = req.ProviderTypeName + "_{{parent.name|capitalize}}"
}
// Schema implements resource.Resource.
func (r *resource{{parent.name|capitalize}}) Schema(_ context.Context, req resource.SchemaRequest, resp *resource.SchemaResponse) {
	resp.Schema = schema.Schema{
		Attributes: map[string]schema.Attribute{
			"resource_name": schema.StringAttribute{
				Required:      true,
				PlanModifiers: []planmodifier.String{stringplanmodifier.RequiresReplace()},
			},
			{%- for kid in parent['kids']%}
			{%- if kid['leaf-type'] == 'string' %}
			"{{kid.name}}": schema.{{kid['leaf-type']|capitalize}}Attribute{
				{%- if kid.name == 'name'%}
				Required:            true,
				{%- else %}
				Optional:            true,
				{%- endif %}
				MarkdownDescription: "xpath is `config.Groups.{{get_parent_list(kid)}}.{{kid.name|capitalize|replace("-", "_")}}`",
			},
			{%- endif %}
			{%- if kid['leaf-type'] == 'union' %}
			"{{kid.name}}": schema.Int64Attribute{
				Optional:            true,
				MarkdownDescription: "xpath is `config.Groups.{{get_parent_list(kid)}}.{{kid.name|capitalize}}`",
			},
			{%- endif %}
			{%- if kid['leaf-type'] == 'empty' %}
			"{{kid.name|replace("-", "_")}}": schema.BoolAttribute{
				Optional:            true,
				MarkdownDescription: "xpath is `config.Groups.{{get_parent_list(kid)}}.{{kid.name|capitalize|replace("-", "_")}}`",
			},
			{%- endif %}
			{%- if kid['type'] == 'list' %}
			"{{kid.name}}": schema.ListNestedAttribute{
				Optional: true,
				NestedObject: schema.NestedAttributeObject{
					Attributes: {{kid.name|capitalize}}Model{}.Attributes(),
				},
			},
			{%- endif %}
			{%- endfor %}
		},
	}
}
// Create implements resource.Resource.
func (r *resource{{parent.name|capitalize}}) Create(ctx context.Context, req resource.CreateRequest, resp *resource.CreateResponse) {
	{%- set parent_var = 'plan'%}
	// Get the {{parent.name|capitalize}} Model data and set
	var {{parent_var}} {{parent.name|capitalize}}Model
	resp.Diagnostics.Append(req.Plan.Get(ctx, &plan)...)
	// Check for errors
	if resp.Diagnostics.HasError() {
		return
	}
	var config xml{{parent.name|capitalize}}
	config.Groups.Name = plan.ResourceName.ValueString()
	{%- for kid in parent['kids'] %}
	{%- if kid['leaf-type'] == 'string' %}
	config.Groups.{{parent.name|capitalize}}.{{kid.name|capitalize}} = plan.{{kid.name|capitalize}}.ValueStringPointer()
	{%- endif %}
	{%- if kid['leaf-type'] == 'union' %}
	config.Groups.{{parent.name|capitalize}}.{{kid.name|capitalize}} = plan.{{kid.name|capitalize}}.ValueInt64Pointer()
	{%- endif %}
	{%- if kid['leaf-type'] ==  'empty' %}
	if plan.{{parent.name|capitalize|replace("-","_")}}.ValueBool() {
		empty := ""
		config.Groups.{{parent.name|capitalize}}.{{kid.name|capitalize|replace("-", "_")}} = &empty
	}
	{%- endif %}
	{%- if kid['type'] == 'list' %}
	{{create_method_macro(parent_var, kid, 1)}}
	{%- endif %}
	{%- endfor %}
	err := r.client.SendTransaction("", config, false)
		if err != nil {
			resp.Diagnostics.AddError("Failed while Sending", err.Error())
			return
		}
		resp.Diagnostics.Append(resp.State.Set(ctx, &plan)...)
}

// Read implements resource.Resource.
func (r *resource{{parent.name|capitalize}}) Read(ctx context.Context, req resource.ReadRequest, resp *resource.ReadResponse) {
	
}

// Update implements resource.Resource.
func (r *resource{{parent.name|capitalize}}) Update(ctx context.Context, req resource.UpdateRequest, resp *resource.UpdateResponse) {
	{%- set parent_var = 'plan'%}
	// Get the {{parent.name|capitalize}} Model data and set
	var {{parent_var}} {{parent.name|capitalize}}Model
	resp.Diagnostics.Append(req.Plan.Get(ctx, &plan)...)
	// Check for errors
	if resp.Diagnostics.HasError() {
		return
	}
	var config xml{{parent.name|capitalize}}
	config.Groups.Name = plan.ResourceName.ValueString()
	{%- for kid in parent['kids'] %}
	{%- if kid['leaf-type'] == 'string' %}
	config.Groups.{{parent.name|capitalize}}.{{kid.name|capitalize}} = plan.{{kid.name|capitalize}}.ValueStringPointer()
	{%- endif %}
	{%- if kid['leaf-type'] == 'union' %}
	config.Groups.{{parent.name|capitalize}}.{{kid.name|capitalize}} = plan.{{kid.name|capitalize}}.ValueInt64Pointer()
	{%- endif %}
	{%- if kid['leaf-type'] ==  'empty' %}
	if plan.{{parent.name|capitalize|replace("-","_")}}.ValueBool() {
		empty := ""
		config.Groups.{{parent.name|capitalize}}.{{kid.name|capitalize|replace("-", "_")}} = &empty
	}
	{%- endif %}
	{%- if kid['type'] == 'list' %}
	{{create_method_macro(parent_var, kid, 1)}}
	{%- endif %}
	{%- endfor %}
	err := r.client.SendTransaction("", config, false)
		if err != nil {
			resp.Diagnostics.AddError("Failed while Sending", err.Error())
			return
		}
		resp.Diagnostics.Append(resp.State.Set(ctx, &plan)...)
}

// Delete implements resource.Resource.
func (r *resource{{parent.name|capitalize}}) Delete(ctx context.Context, req resource.DeleteRequest, resp *resource.DeleteResponse) {
	var state {{parent.name|capitalize}}Model
	d := req.State.Get(ctx, &state)
	resp.Diagnostics.Append(d...)
	if resp.Diagnostics.HasError() {
		return
	}

	_, err := r.client.DeleteConfig(state.ResourceName.ValueString(), false)
	if err != nil {
		if strings.Contains(err.Error(), "ound") {
			return
		}
		resp.Diagnostics.AddError("Failed while deleting dile", err.Error())
		return
	}
}