#jinja2: trim_blocks: False, lstrip_blocks: False
<configuration>
    <groups>
        <name> JTAF_ANSIBLE </name>
    <chassis>
        {%- if chassis.get("aggregated_devices") %}
        <aggregated-devices>
            {%- if chassis.aggregated_devices.get("ethernet") %}
            <ethernet>
                {%- if chassis.aggregated_devices.ethernet.get("device_count") %}
                {%- if chassis.aggregated_devices.ethernet.get("device_count") is boolean %}
                <device-count/>
                       {%- else %}
                <device-count>{{chassis.aggregated_devices.ethernet.device_count}}</device-count>
                {%- endif %}
                {%- endif %}
            </ethernet>
            {%- endif %}
        </aggregated-devices>
        {%- endif %}
    </chassis>
    <interfaces>
        {%- if interfaces.get("interface") %}			  
        {%- for i_2 in interfaces.get("interface") %}
        {%- if interfaces.get("interface") %}
        <interface>
            {%- if i_2.get("name") %}
            {%- if i_2.get("name") is boolean %}
            <name/>
                   {%- else %}
            <name>{{i_2.name}}</name>
            {%- endif %}
            {%- endif %}
            {%- if i_2.get("vlan_tagging") %}
            {%- if i_2.get("vlan_tagging") is boolean %}
            <vlan-tagging/>
                   {%- else %}
            <vlan-tagging>{{i_2.vlan_tagging}}</vlan-tagging>
            {%- endif %}
            {%- endif %}
            {%- if i_2.get("unit") %}			  
            {%- for i_3 in i_2.get("unit") %}
            {%- if i_2.get("unit") %}
            <unit>
                {%- if i_3.get("name") %}
                {%- if i_3.get("name") is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
                {%- if i_3.get("description") %}
                {%- if i_3.get("description") is boolean %}
                <description/>
                       {%- else %}
                <description>{{i_3.description}}</description>
                {%- endif %}
                {%- endif %}
                {%- if i_3.get("vlan_id") %}
                {%- if i_3.get("vlan_id") is boolean %}
                <vlan-id/>
                       {%- else %}
                <vlan-id>{{i_3.vlan_id}}</vlan-id>
                {%- endif %}
                {%- endif %}
                {%- if i_3.get("family") %}
                <family>
                    {%- if i_3.family.get("inet") %}
                    <inet>
                        {%- if i_3.family.inet.get("address") %}			  
                        {%- for i_6 in i_3.family.inet.get("address") %}
                        {%- if i_3.family.inet.get("address") %}
                        <address>
                            {%- if i_6.get("name") %}
                            {%- if i_6.get("name") is boolean %}
                            <name/>
                                   {%- else %}
                            <name>{{i_6.name}}</name>
                            {%- endif %}
                            {%- endif %}
                        </address>                        {%- endif %}
                        {%- endfor %}
                        {%- endif %}
                    </inet>
                    {%- endif %}
                </family>
                {%- endif %}
            </unit>            {%- endif %}
            {%- endfor %}
            {%- endif %}
        </interface>        {%- endif %}
        {%- endfor %}
        {%- endif %}
    </interfaces>
    <policy-options>
        {%- if policy_options.get("policy_statement") %}			  
        {%- for i_2 in policy_options.get("policy_statement") %}
        {%- if policy_options.get("policy_statement") %}
        <policy-statement>
            {%- if i_2.get("name") %}
            {%- if i_2.get("name") is boolean %}
            <name/>
                   {%- else %}
            <name>{{i_2.name}}</name>
            {%- endif %}
            {%- endif %}
            {%- if i_2.get("term") %}			  
            {%- for i_3 in i_2.get("term") %}
            {%- if i_2.get("term") %}
            <term>
                {%- if i_3.get("name") %}
                {%- if i_3.get("name") is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
                {%- if i_3.get("from") %}
                <from>
                    {%- if i_3.from.get("route_filter") %}			  
                    {%- for i_5 in i_3.from.get("route_filter") %}
                    {%- if i_3.from.get("route_filter") %}
                    <route-filter>
                        {%- if i_5.get("address") %}
                        {%- if i_5.get("address") is boolean %}
                        <address/>
                               {%- else %}
                        <address>{{i_5.address}}</address>
                        {%- endif %}
                        {%- endif %}
                        {%- if i_5.get("exact") %}
                        {%- if i_5.get("exact") is boolean %}
                        <exact/>
                               {%- else %}
                        <exact>{{i_5.exact}}</exact>
                        {%- endif %}
                        {%- endif %}
                        {%- if i_5.get("accept") %}
                        {%- if i_5.get("accept") is boolean %}
                        <accept/>
                               {%- else %}
                        <accept>{{i_5.accept}}</accept>
                        {%- endif %}
                        {%- endif %}
                    </route-filter>                    {%- endif %}
                    {%- endfor %}
                    {%- endif %}
                </from>
                {%- endif %}
            </term>            {%- endif %}
            {%- endfor %}
            {%- endif %}
        </policy-statement>        {%- endif %}
        {%- endfor %}
        {%- endif %}
    </policy-options>
    <protocols>
        {%- if protocols.get("lldp") %}
        <lldp>
            {%- if protocols.lldp.get("interface") %}			  
            {%- for i_3 in protocols.lldp.get("interface") %}
            {%- if protocols.lldp.get("interface") %}
            <interface>
                {%- if i_3.get("name") %}
                {%- if i_3.get("name") is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
            </interface>            {%- endif %}
            {%- endfor %}
            {%- endif %}
        </lldp>
        {%- endif %}
    </protocols>
    <routing-instances>
        {%- if routing_instances.get("instance") %}			  
        {%- for i_2 in routing_instances.get("instance") %}
        {%- if routing_instances.get("instance") %}
        <instance>
            {%- if i_2.get("name") %}
            {%- if i_2.get("name") is boolean %}
            <name/>
                   {%- else %}
            <name>{{i_2.name}}</name>
            {%- endif %}
            {%- endif %}
            {%- if i_2.get("instance_type") %}
            {%- if i_2.get("instance_type") is boolean %}
            <instance-type/>
                   {%- else %}
            <instance-type>{{i_2.instance_type}}</instance-type>
            {%- endif %}
            {%- endif %}
            {%- if i_2.get("interface") %}			  
            {%- for i_3 in i_2.get("interface") %}
            {%- if i_2.get("interface") %}
            <interface>
                {%- if i_3.get("name") %}
                {%- if i_3.get("name") is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
            </interface>            {%- endif %}
            {%- endfor %}
            {%- endif %}
            {%- if i_2.get("routing_options") %}
            <routing-options>
                {%- if i_2.routing_options.get("static") %}
                <static>
                    {%- if i_2.routing_options.static.get("route") %}			  
                    {%- for i_5 in i_2.routing_options.static.get("route") %}
                    {%- if i_2.routing_options.static.get("route") %}
                    <route>
                        {%- if i_5.get("name") %}
                        {%- if i_5.get("name") is boolean %}
                        <name/>
                               {%- else %}
                        <name>{{i_5.name}}</name>
                        {%- endif %}
                        {%- endif %}
                        {%- if i_5.get("discard") %}
                        {%- if i_5.get("discard") is boolean %}
                        <discard/>
                               {%- else %}
                        <discard>{{i_5.discard}}</discard>
                        {%- endif %}
                        {%- endif %}
                    </route>                    {%- endif %}
                    {%- endfor %}
                    {%- endif %}
                </static>
                {%- endif %}
            </routing-options>
            {%- endif %}
            {%- if i_2.get("protocols") %}
            <protocols>
                {%- if i_2.protocols.get("ospf") %}
                <ospf>
                    {%- if i_2.protocols.ospf.get("export") %}
              {% for ii_5 in i_2.protocols.ospf.get("export") %}
                        <export>{{ii_5}}</export>
			  {% endfor %}
                    {%- endif %}
                    {%- if i_2.protocols.ospf.get("area") %}			  
                    {%- for i_5 in i_2.protocols.ospf.get("area") %}
                    {%- if i_2.protocols.ospf.get("area") %}
                    <area>
                        {%- if i_5.get("name") %}
                        {%- if i_5.get("name") is boolean %}
                        <name/>
                               {%- else %}
                        <name>{{i_5.name}}</name>
                        {%- endif %}
                        {%- endif %}
                        {%- if i_5.get("interface") %}			  
                        {%- for i_6 in i_5.get("interface") %}
                        {%- if i_5.get("interface") %}
                        <interface>
                            {%- if i_6.get("name") %}
                            {%- if i_6.get("name") is boolean %}
                            <name/>
                                   {%- else %}
                            <name>{{i_6.name}}</name>
                            {%- endif %}
                            {%- endif %}
                        </interface>                        {%- endif %}
                        {%- endfor %}
                        {%- endif %}
                    </area>                    {%- endif %}
                    {%- endfor %}
                    {%- endif %}
                </ospf>
                {%- endif %}
            </protocols>
            {%- endif %}
        </instance>        {%- endif %}
        {%- endfor %}
        {%- endif %}
    </routing-instances>
    <routing-options>
        {%- if routing_options.get("static") %}
        <static>
            {%- if routing_options.static.get("route") %}			  
            {%- for i_3 in routing_options.static.get("route") %}
            {%- if routing_options.static.get("route") %}
            <route>
                {%- if i_3.get("name") %}
                {%- if i_3.get("name") is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
                {%- if i_3.get("next_hop") %}
              {% for ii_4 in i_3.get("next_hop") %}
                    <next-hop>{{ii_4}}</next-hop>
			  {% endfor %}
                {%- endif %}
            </route>            {%- endif %}
            {%- endfor %}
            {%- endif %}
        </static>
        {%- endif %}
    </routing-options>
    <security>
        {%- if security.get("log") %}
        <log>
        </log>
        {%- endif %}
    </security>
    <snmp>
        {%- if snmp.get("location") %}
        {%- if snmp.get("location") is boolean %}
        <location/>
               {%- else %}
        <location>{{snmp.location}}</location>
        {%- endif %}
        {%- endif %}
        {%- if snmp.get("contact") %}
        {%- if snmp.get("contact") is boolean %}
        <contact/>
               {%- else %}
        <contact>{{snmp.contact}}</contact>
        {%- endif %}
        {%- endif %}
        {%- if snmp.get("community") %}			  
        {%- for i_2 in snmp.get("community") %}
        {%- if snmp.get("community") %}
        <community>
            {%- if i_2.get("name") %}
            {%- if i_2.get("name") is boolean %}
            <name/>
                   {%- else %}
            <name>{{i_2.name}}</name>
            {%- endif %}
            {%- endif %}
            {%- if i_2.get("authorization") %}
            {%- if i_2.get("authorization") is boolean %}
            <authorization/>
                   {%- else %}
            <authorization>{{i_2.authorization}}</authorization>
            {%- endif %}
            {%- endif %}
        </community>        {%- endif %}
        {%- endfor %}
        {%- endif %}
    </snmp>
    <system>
        {%- if system.get("login") %}
        <login>
            {%- if system.login.get("user") %}			  
            {%- for i_3 in system.login.get("user") %}
            {%- if system.login.get("user") %}
            <user>
                {%- if i_3.get("name") %}
                {%- if i_3.get("name") is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
                {%- if i_3.get("uid") %}
                {%- if i_3.get("uid") is boolean %}
                <uid/>
                       {%- else %}
                <uid>{{i_3.uid}}</uid>
                {%- endif %}
                {%- endif %}
                {%- if i_3.get("class") %}
                {%- if i_3.get("class") is boolean %}
                <class/>
                       {%- else %}
                <class>{{i_3.class}}</class>
                {%- endif %}
                {%- endif %}
                {%- if i_3.get("authentication") %}
                <authentication>
                    {%- if i_3.authentication.get("encrypted_password") %}
                    {%- if i_3.authentication.get("encrypted_password") is boolean %}
                    <encrypted-password/>
                           {%- else %}
                    <encrypted-password>{{i_3.authentication.encrypted_password}}</encrypted-password>
                    {%- endif %}
                    {%- endif %}
                </authentication>
                {%- endif %}
            </user>            {%- endif %}
            {%- endfor %}
            {%- endif %}
            {%- if system.login.get("message") %}
            {%- if system.login.get("message") is boolean %}
            <message/>
                   {%- else %}
            <message>{{system.login.message}}</message>
            {%- endif %}
            {%- endif %}
        </login>
        {%- endif %}
        {%- if system.get("root_authentication") %}
        <root-authentication>
            {%- if system.root_authentication.get("encrypted_password") %}
            {%- if system.root_authentication.get("encrypted_password") is boolean %}
            <encrypted-password/>
                   {%- else %}
            <encrypted-password>{{system.root_authentication.encrypted_password}}</encrypted-password>
            {%- endif %}
            {%- endif %}
        </root-authentication>
        {%- endif %}
        {%- if system.get("host_name") %}
        {%- if system.get("host_name") is boolean %}
        <host-name/>
               {%- else %}
        <host-name>{{system.host_name}}</host-name>
        {%- endif %}
        {%- endif %}
        {%- if system.get("services") %}
        <services>
            {%- if system.services.get("ssh") %}
            <ssh>
                {%- if system.services.ssh.get("root_login") %}
                {%- if system.services.ssh.get("root_login") is boolean %}
                <root-login/>
                       {%- else %}
                <root-login>{{system.services.ssh.root_login}}</root-login>
                {%- endif %}
                {%- endif %}
            </ssh>
            {%- endif %}
            {%- if system.services.get("extension_service") %}
            <extension-service>
                {%- if system.services.extension_service.get("request_response") %}
                <request-response>
                    {%- if system.services.extension_service.request_response.get("grpc") %}
                    <grpc>
                        {%- if system.services.extension_service.request_response.grpc.get("max_connections") %}
                        {%- if system.services.extension_service.request_response.grpc.get("max_connections") is boolean %}
                        <max-connections/>
                               {%- else %}
                        <max-connections>{{system.services.extension_service.request_response.grpc.max_connections}}</max-connections>
                        {%- endif %}
                        {%- endif %}
                    </grpc>
                    {%- endif %}
                </request-response>
                {%- endif %}
                {%- if system.services.extension_service.get("notification") %}
                <notification>
                    {%- if system.services.extension_service.notification.get("allow_clients") %}
                    <allow-clients>
                        {%- if system.services.extension_service.notification.allow_clients.get("address") %}
              {% for ii_6 in system.services.extension_service.notification.allow_clients.get("address") %}
                            <address>{{ii_6}}</address>
			  {% endfor %}
                        {%- endif %}
                    </allow-clients>
                    {%- endif %}
                </notification>
                {%- endif %}
            </extension-service>
            {%- endif %}
            {%- if system.services.get("netconf") %}
            <netconf>
                {%- if system.services.netconf.get("ssh") %}
                <ssh>
                </ssh>
                {%- endif %}
            </netconf>
            {%- endif %}
            {%- if system.services.get("rest") %}
            <rest>
                {%- if system.services.rest.get("http") %}
                <http>
                    {%- if system.services.rest.http.get("port") %}
                    {%- if system.services.rest.http.get("port") is boolean %}
                    <port/>
                           {%- else %}
                    <port>{{system.services.rest.http.port}}</port>
                    {%- endif %}
                    {%- endif %}
                </http>
                {%- endif %}
                {%- if system.services.rest.get("enable_explorer") %}
                {%- if system.services.rest.get("enable_explorer") is boolean %}
                <enable-explorer/>
                       {%- else %}
                <enable-explorer>{{system.services.rest.enable_explorer}}</enable-explorer>
                {%- endif %}
                {%- endif %}
            </rest>
            {%- endif %}
        </services>
        {%- endif %}
        {%- if system.get("syslog") %}
        <syslog>
            {%- if system.syslog.get("user") %}			  
            {%- for i_3 in system.syslog.get("user") %}
            {%- if system.syslog.get("user") %}
            <user>
                {%- if i_3.get("name") %}
                {%- if i_3.get("name") is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
                {%- if i_3.get("contents") %}			  
                {%- for i_4 in i_3.get("contents") %}
                {%- if i_3.get("contents") %}
                <contents>
                    {%- if i_4.get("name") %}
                    {%- if i_4.get("name") is boolean %}
                    <name/>
                           {%- else %}
                    <name>{{i_4.name}}</name>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_4.get("emergency") %}
                    {%- if i_4.get("emergency") is boolean %}
                    <emergency/>
                           {%- else %}
                    <emergency>{{i_4.emergency}}</emergency>
                    {%- endif %}
                    {%- endif %}
                </contents>                {%- endif %}
                {%- endfor %}
                {%- endif %}
            </user>            {%- endif %}
            {%- endfor %}
            {%- endif %}
            {%- if system.syslog.get("file") %}			  
            {%- for i_3 in system.syslog.get("file") %}
            {%- if system.syslog.get("file") %}
            <file>
                {%- if i_3.get("name") %}
                {%- if i_3.get("name") is boolean %}
                <name/>
                       {%- else %}
                <name>{{i_3.name}}</name>
                {%- endif %}
                {%- endif %}
                {%- if i_3.get("contents") %}			  
                {%- for i_4 in i_3.get("contents") %}
                {%- if i_3.get("contents") %}
                <contents>
                    {%- if i_4.get("name") %}
                    {%- if i_4.get("name") is boolean %}
                    <name/>
                           {%- else %}
                    <name>{{i_4.name}}</name>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_4.get("any") %}
                    {%- if i_4.get("any") is boolean %}
                    <any/>
                           {%- else %}
                    <any>{{i_4.any}}</any>
                    {%- endif %}
                    {%- endif %}
                    {%- if i_4.get("info") %}
                    {%- if i_4.get("info") is boolean %}
                    <info/>
                           {%- else %}
                    <info>{{i_4.info}}</info>
                    {%- endif %}
                    {%- endif %}
                </contents>                {%- endif %}
                {%- endfor %}
                {%- endif %}
            </file>            {%- endif %}
            {%- endfor %}
            {%- endif %}
        </syslog>
        {%- endif %}
        {%- if system.get("license") %}
        <license>
            {%- if system.license.get("autoupdate") %}
            <autoupdate>
                {%- if system.license.autoupdate.get("url") %}			  
                {%- for i_4 in system.license.autoupdate.get("url") %}
                {%- if system.license.autoupdate.get("url") %}
                <url>
                    {%- if i_4.get("name") %}
                    {%- if i_4.get("name") is boolean %}
                    <name/>
                           {%- else %}
                    <name>{{i_4.name}}</name>
                    {%- endif %}
                    {%- endif %}
                </url>                {%- endif %}
                {%- endfor %}
                {%- endif %}
            </autoupdate>
            {%- endif %}
        </license>
        {%- endif %}
    </system>
    </groups>
	<apply-groups> JTAF_ANSIBLE </apply-groups>
</configuration>