- name: Render generated Junos configuration XML
  hosts: all
  gather_facts: false
  connection: local
  vars:
    tmp_dir: configs
    generated_role_name: "[[ generated_role_name ]]"
  tasks:
    - name: Render XML using generated role
      ansible.builtin.include_role:
        name: "[[ generated_role_name ]]"

- name: Apply rendered XML via Juniper ansible-junos-stdlib
  hosts: all
  gather_facts: false
  connection: local
  vars:
    tmp_dir: configs
    ci_netconf_username: "{{ lookup('env', 'NETCONF_USERNAME') }}"
    ci_netconf_password: "{{ lookup('env', 'NETCONF_PASSWORD') }}"
    ci_expect_failure: "{{ (lookup('env', 'NETCONF_EXPECT_FAILURE') | default('0')) == '1' }}"
  tasks:
    - name: Push rendered XML via Juniper ansible-junos-stdlib
      juniper.device.config:
        host: "{{ ansible_host | default(inventory_hostname) }}"
        port: "{{ ansible_port | default(830) }}"
        user: "{{ ci_netconf_username }}"
        passwd: "{{ ci_netconf_password }}"
        check: false
        diff: false
        commit: true
        src: "{{ tmp_dir }}/{{ inventory_hostname }}.xml"
        load: replace
        comment: "CI apply generated role"
      failed_when: false
      register: junos_apply_result

    - name: Fail with detailed module diagnostics
      ansible.builtin.fail:
        msg: |
          juniper.device.config task failed for {{ inventory_hostname }}
          expect_failure={{ ci_expect_failure }}
          msg={{ junos_apply_result.msg | default('') }}
          exception={{ junos_apply_result.exception | default('') }}
          module_stdout={{ junos_apply_result.module_stdout | default('') }}
          module_stderr={{ junos_apply_result.module_stderr | default('') }}
      when: >-
        (junos_apply_result.failed | default(false))
        or ((junos_apply_result.msg | default('')) is search('ConnectAuthError|Unable to make a PyEZ connection|MODULE FAILURE|Traceback'))
        or ((junos_apply_result.exception | default('')) is search('Traceback|Exception|Error'))
        or ((junos_apply_result.module_stderr | default('')) is search('MODULE FAILURE|Traceback|Exception|Error'))
        or (
          ci_expect_failure
          and not (
            ((junos_apply_result.msg | default('')) is search('ConnectAuthError|Unable to make a PyEZ connection|MODULE FAILURE|Traceback'))
            or ((junos_apply_result.exception | default('')) is search('Traceback|Exception|Error'))
            or ((junos_apply_result.module_stderr | default('')) is search('MODULE FAILURE|Traceback|Exception|Error'))
          )
        )
